<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wraper">
        <nav class="wraper__nav">Nawigacja</nav>
        <header class="wraper__header">Slajder</header>
        <main class="wraper__main">Sekcja artykuły</main>
        <aside class="wraper__aside">Szybki dostęp</aside>
        <footer class="wraper__footer">Stopka</footer>
    </div>
</body>
</html>