<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wraper">
        <div class="wraper__page page">
            <nav class="page__nav">Nawigacja</nav>
            <header class="page__header">Slajder</header>
            <main class="page__main">Sekcja artykuły</main>
            <footer class="page__footer">Stopka</footer>
        </div>
        <div class="wraper__contact contact">
            <aside class="contact__aside">Szybki dostęp</aside>
        </div>
    </div>
</body>
</html>