<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wraper">
        <div class="wraper__page page">
            <nav class="page__nav"><h1>Nawigacja</h1></nav>
            <header class="page__header"><h1>Slajder</h1></header>
            <main class="page__main"><h1>Sekcja artykuły</h1></main>
            <footer class="page__footer"><h1>Stopka</h1></footer>
        </div>
        <div class="wraper__contact contact">
            <aside class="contact__aside"><h1>Szybki dostęp</h1></aside>
        </div>
    </div>
</body>
</html>