*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wraper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-grow: 1;
}
.wraper__page{
    flex-grow: 1;
}
.wraper__contact{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}
.contact__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

    height: 150vh;
    background-color: #7e6fe3;
    text-align: center;
    flex-grow: 1;
}
.contact__aside h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 50px 10px;
}
.contact__aside p {
    padding: 10px 0;
    font-weight: 700;
    color: aquamarine;
}
.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #709681;
    /* height: 100vh; */
    text-align: left;
}
.page h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 10px;
    float: left;
}
.page p {
    font-size: 1.5rem;
    padding: 10px;
    float: right;
}
.page__nav{
    flex-basis: 5%;
    background-color: #be7070;
    width: 100%;
}
.page__header {
    flex-basis: 25%;
    width: 100%;
    background-color: #32ef48;
}
.page__main{
    flex-shrink: 0;
    flex-grow: 2;
    width: 100%;
}
.page__footer{
    flex-basis: 15%;
    width: 100%;   
    background-color: #000;
    color: #fff;
}